@model Post
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Create</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input class="form-control" asp-for="Title">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
            <input class="form-control" asp-for="Desc">
        </div>
        <div class="mb-3 form-check">
            <input type="file" asp-for="Photo">
            <label class="form-check-label" for="exampleCheck1">Choose Image</label>
        </div>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>

